</div>
<div class="position-relative">
  <div class="position-absolute bottom-0 end-0">
    <div class="footer-padding">
      <div class="footer">
        <p>Made with Blood, Sweet and tears</p>
      </div>
    </div>
  </div>
</div>
</body>

</html>